/* Global Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open-Sans", sans-serif;
}
img {
  width: 200px;
}

h1 {
  font-size: 3.25em;
  font-weight: bold;
  line-height: 1em;
  padding: 4%;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
}
main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
  min-height: 90vh;
  width: 100%;
}

.col {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 6% 4%;
}

.col-left {
  align-items: center;
  text-align: center;
  background: #0c0d11;
  color: white;
}

.col-right {
  background: #3498db;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 4px;
  background-color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  display: inline-block;
  margin: 0.5rem 0;
  color: #3d3935;
  letter-spacing: 0.2px;
  font-size: 1rem;
}
input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #3d3935;
  border-radius: 4px;
  background-color: #fff;
  color: #3d3935;
  outline: 0;
}
input::placeholder {
  color: #867d6c;
  font-size: 1rem;
}

textarea {
  width: 100%;
  min-height: 10ch;
  max-height: 120ch;
  padding: 10px;
  resize: none;
}

fieldset {
  margin: 0.4rem 0;
  padding: 0;
  border: none;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #3d3935;
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.required {
  color: #b0092d;
}
.two-columns {
  display: grid;
  grid-template-columns: 100%;
}
@media screen and (min-width: 481px) {
  .two-columns {
    grid-template-columns: 48.7804878% 48.7804878%;
    grid-column-gap: 2.43902439%;
  }
}

@media (min-width: 980px) {
  .container {
    flex-flow: row nowrap;
  }
}
